@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  position: absolute;
  top: 24px;
  left: 120px;
  display: flex;
  gap: 20px;
  font-size: 24px;
}

@layer base {
  html {
    // @apply bg-slate-600 text-white text-lg font-bold;
  }
}
